<h1>Sessions#destroy</h1>
<p>Find me in app/views/sessions/destroy.html.erb</p>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'delete'}) do %>
   <input type="submit" value="Logout">
<% end %>