<h1>Login Page</h1>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <%= label_tag 'Username:' %>
  <%= text_field_tag :username %>
  <%= submit_tag 'login' %>
<% end %>
