<h1>Listen...</h1>
<p>doo wah oo</p>
<h2>Do you want to know a secret?</h2>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
<% end %>