
<p>"If you like Pina Coladas, and getting caught in the rain
If you're not into yoga, if you have half a brain
If you like making love at midnight, in the dunes of the cape
I'm the love that you've looked for, write to me, and escape".</p>
