<p>Muahhahha! Welcome <%= current_user %>....</p>
<h2>We have been expecting you!</h2>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>