<h1>Secrets#Show</h1>

<h2>Hello, <%= session[:name] %></h2>

<h2>psst. . . .secret</h2>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='log out'>
<% end %>

<% if !session[:name] %>
  <h1>you need to be logged in!</h1>
  <%= button_to 'log in', { controller: 'sessions', action: 'new' }, method: 'get' if !session[:username] %>
<% end %>