<h1>Welcome to the secret page!</h1>

<p>This page contains the greatest of all secrets. Don't tell anyone
else about this. The fate of the world depends on it.</p>

<p>Ready? The secret is:</p>

<p>Hawkeye is the best Avenger.</p>