<% if current_user %>
    <h1>Hi <%= current_user %></h1>
    <%= link_to "Secret", secret_path %><br>
    <br>
    <%= link_to "Logout", logout_path %>
<% else %>
    <%= link_to "Login", login_path %>
<% end %>